.rang {
  text-align: center;
}

.rang_number {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  border-width: 0;
  font-size: 50px;
  font-weight: 900;
  background-color: #fff;
  color: #0093d7;
}

.meter {
  display: block;
  width: 273px;
  height: 155px;
  margin: 0 auto;
}

.meter_left {
  stroke-width: 18;
  stroke-dashoffset: 232;
  stroke-dasharray: 120 400;
  stroke: #ffc815;
  fill: none;
}

.meter_center {
  stroke-width: 18;
  stroke-dashoffset: 119;
  stroke-dasharray: 120 400;
  stroke: #a3cd3b;
  fill: none;
}

.meter_right {
  stroke-width: 18;
  stroke-dashoffset: 5;
  stroke-dasharray: 120 400;
  stroke: #0093d7;
  fill: none;
}

.meter_clock {
  transform: rotate(-54deg);
  transform-origin: 137px 146px;
  fill: black;
}

.meter_circle {
  fill: red;
}
